{% extends 'base.html' %}
{% block content %}
{% load static %}

    <!-- FAQ AREA START (faq-2) (ID > accordion_2) -->
    <div class="ltn__faq-area mb-80">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <div class="ltn__faq-inner ltn__faq-inner-2">
                        <div id="accordion_2">
                            {% for i in questions %}
                                <!-- card -->
                                <div class="card">
                                    <h6 class="collapsed ltn__card-title" data-toggle="collapse" data-target="#faq-item-2-{{ forloop.counter }}" aria-expanded="false" aria-controls="faq-item-2-{{ forloop.counter }}">
                                        {{ i.title|safe }}
                                    </h6>
                                    <div id="faq-item-2-{{ forloop.counter }}" class="collapse" data-parent="#accordion_2">
                                        <div class="card-body">
                                            {{ i.text|safe }}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="need-support text-center mt-100">
                            <h4>Still need help? Reach out to support 24/7:</h4>
                            <div class="btn-wrapper mb-30">
                                <a href="{% url 'contact' %}" class="theme-btn-1 btn">Contact Us</a>
                            </div>
                            <h4><i class="fas fa-phone"></i><a href="tel:{{ phone }}">{{ phone }}</a></h4>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- FAQ AREA START -->

{% endblock %}
